
@font-face {
    font-family: 'Aktifoa';
    src: local('Myriad Pro Regular'), url('./Font/aktifoa-medium.otf') format('woff');
}
@font-face {
    font-family: 'Aktifoa-light';
    src: local('Myriad Pro Regular'), url('./Font/aktifoa-light.otf') format('woff');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Aktifoa;
    scroll-behavior: smooth;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

p,li,label{
    font-family: Aktifoa-light;
}
ul{
    list-style-type: none;
}
h4{
    font-family: Aktifoa-light;
    font-size: 1.2em;
    color: #292929;
    width: 400px;
}
.cirlce{
    width: 65px;
    height: 65px;
    background-color: #292929;
    border-radius: 50%;
    position: relative;
    margin: auto;
}
li{
    margin: 15px 0px;
    color: #131313;
    font-size: 14px;
    list-style-type: disc;
}
.cirlce img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translate(-50%,-50%);
}
.btn{
    all: unset;
    padding: 15px 30px;
    color: white;
    background: #F26621 0% 0% no-repeat padding-box;
    border-radius: 6px;
    cursor: pointer;
    opacity: 1;
    margin: 10px 0px;
    /* transition: transform 0.3s ease-in-out; */
}

/* .btn:hover{
    transform: translateX(14px);
} */

.btnarrow{
    margin: 0px 20px;
}
h3{
    font-size: 14px;
}


