.contact{
  position: absolute;
  top: 50px;
  right: 80px;
  width: 500px;
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 14px 27px #00000017;
  border-radius: 13px;
  padding: 30px 30px 10px 30px;
}

.contact.blur {
  filter: blur(4px);
  pointer-events: none; /* Prevent interaction with the blurred content */
}

.submission-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

input,select,option{
  all: unset;
  height: 25px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.25px solid #b8b8b8 !important;
  border-radius: 8px;
  width: 190px;
  color: #5D5D5D;
  padding: 3px 10px;
  font-weight: 100;
  font-size: 12px;
}
.select{
  width: 95%;
  display: grid;
  place-items: center;
}
label{
  font-size: 12px;
  font-family: Aktifoa;
  color: #292929;
}


.contact-container {
  position: relative;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

.submission-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.submission-message h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.submission-message p {
  font-size: 16px;
  color: #555;
}

