.HomeContent2{
    position: relative;
    width: 700px;
    height: 100%;
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.HomeContent2main{
    margin:20px 0px;
}
.HomeContent2main p{
    color: #131313;
    font-size: 14px;
    font-family: Aktifoa-light;

}
